{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.773"}
           thheller/shadow-cljs      {:mvn/version "2.10.14"}
           reagent                   {:mvn/version "0.10.0"}}
 :aliases {:app  {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]}}}
