.slide-picker {
    display: flex;
    min-height: 12px;
    justify-content: center;
    align-items: center;
}

.slide-picker__dot {
    transition: var(--transition);
    cursor: pointer;
    height: var(--grid-8);
    width: var(--grid-8);
    background-color: var(--color-subtle);
    border-radius: 50%;
    display: inline-block;
}

.slide-picker__dot:hover {
    background-color: var(--color);
}

.slide-picker__dot[aria-selected=true] {
    cursor: default;
    height: var(--grid-12);
    width: var(--grid-12);
    background-color: var(--color);
}

.slide-picker__dot + .slide-picker__dot {
    margin-left: var(--margin);
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel__slide {
    transition: var(--transition);
    flex-grow: 1;
    padding: var(--padding-l);
    background: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
}

.carousel__slide-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--margin);
    margin-bottom: var(--margin-l);
    border-bottom: var(--border-very-subtle);
}

.carousel__slide-label {
    color: var(--color);
    font-family: var(--font-family-metadata);
    font-size: var(--font-size-s);
}

/* TODO: remove 1px invisible border */
button.carousel__select {
    min-width: 0; /* Dummy value to allow for transitions. */
    margin: var(--margin) 0 var(--margin) 0;
    padding: 0;
    transition: var(--transition);
    background: var(--background);
    filter: var(--inactive-filter);
    border: var(--border);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: none; /* Only before visible slides. */
    opacity: 0;
    box-shadow: inset -8px 0px 8px -8px rgba(0,0,0,0.4);
}

/* Removes the left border instead of the right. */
.carousel__slide ~ button.carousel__select {
    border: var(--border);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-left: none;
    box-shadow: inset 8px 0px 8px -8px rgba(0,0,0,0.4);
}

button.carousel__select[tabindex="0"] {
    min-width: var(--grid-12);
    opacity: 1;
    cursor: pointer;
}

button.carousel__select[tabindex="0"]:hover {
    min-width: var(--grid-24);
}

button.carousel__select:hover,
button.carousel__select:focus {
    cursor: click;
    filter: var(--inactive-filter-focus);
}
