.combination {
    display: grid;
}

.combination--resize {
    user-select: none;
    -webkit-user-select: none; /* Safari support. */
    cursor: col-resize;
}

.combination__separator {
    transition: var(--transition);
}

.combination__separator:hover,
.combination__separator--resize {
    background: #F0F0F0;
    border-radius: var(--grid-8);
    cursor: col-resize;
}
