.combination {
    display: grid;
}

.combination--resize {
    user-select: none;
    cursor: col-resize;
}

.combination__separator {
    transition: var(--transition);
}

.combination__separator:hover,
.combination__separator--resize {
    background: #F0F0F0;
    border-radius: var(--grid-4);
    cursor: col-resize;
}
