.code-lens {
    display: block;
    overflow: auto;
    background: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: var(--font-size);
}

.code-lens--empty {
    display: inline-block;
    color: var(--inactive-color);
}

.code-lens__meta {
    color: darkblue; /* TODO: theme it? */
    background: #EEEEFF; /* TODO: theme it? */
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: var(--font-size-s);
    font-style: italic;
    margin-bottom: var(--margin);
}
