/* The head is an independent block. */
.tab-head {
    display: flex;
    font-family: Futura, sans-serif;
    font-size: 14px;
}

.tab-head label {
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
    padding: 8px 40px;
    display: inline-block;
    background: #CCC;
    box-shadow:
        inset -8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
    border: 1px solid #888;
    border-right: none;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tab-head label:hover {
    color: #444;
    background-color: #EEE;
}

.tab-head input[checked] ~ label {
    box-shadow:
        inset 8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
}

.tab-head label:first-of-type {
    border-radius: 4px 0 0 0;
}

.tab-head label:last-of-type {
    border-right: 1px solid #888;
    border-radius: 0 4px 0 0;
}

.tab-head input[checked] + label {
    cursor: default;
    background: white;
    border-bottom: none;
    box-shadow: none;
    color: black;
}

.tab-head input[type=radio] {
    display: none;
}

/* The spacer element is needed to draw the remaining bottom border. */
.tab-head__spacer {
    flex-grow: 1;
    border-bottom: 1px solid #888;
}

/* The body is also an independent block. */
.tab-body {
    border: 1px solid #888;
    padding: 10px;
}

/* The visual merging of tab-head and tab-body is only based on placement. */
.tab-head + .tab-body {
    border-top: none;
}
