/* The head is an independent block. */
.tablist {
    display: flex;
    font-family: Futura, sans-serif;
    font-size: 14px;
}

.tablist label {
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
    padding: 8px 40px;
    display: inline-block;
    background: #CCC;
    box-shadow:
        inset -8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
    border: 1px solid #888;
    border-right: none;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tablist input[type=radio] {
    display: none;
}

.tablist input:checked ~ label {
    box-shadow:
        inset 8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
}

.tablist label:first-of-type {
    border-radius: 4px 0 0 0;
}

.tablist label:last-of-type {
    border-right: 1px solid #888;
    border-radius: 0 4px 0 0;
}

.tablist input:checked + label {
    cursor: default;
    background: white;
    border-bottom: none;
    box-shadow: none;
    color: black;
}

/* Keeping the outline (the default behaviour) sucks. */
.tablist label:active {
    outline: none;
}

.tablist label:hover,
.tablist label:focus {
    color: #444;
    background-color: #EEE;

    /* Fix missing outline border on infixed labels. */
    z-index: 1;
}

/* The spacer element is needed to draw the remaining bottom border. */
.tablist__spacer {
    flex-grow: 1;
    border-bottom: 1px solid #888;

    /* Hide the internal text (... which provides a box with no css). */
    color: transparent;
    user-select: none;
}

/* The body is also an independent block. */
.tabpanel {
    border: 1px solid #888;
    padding: 10px;
}

/* The visual merging of tablist and tabpanel is only based on placement. */
.tablist + .tabpanel {
    border-top: none;
}
