.tab-list {
    display: flex;
}

.tab-list .tab {
    white-space: nowrap;
    transition: background-color 0.3s;
    cursor: grab;
    color: #222;
    font-size: 14px;
    font-family: Futura, sans-serif;
    text-align: center;
    padding: 8px 40px;
    margin: 0; /* Remove default button margin (for Safari). */
    display: inline-block;
    background: #CCC;
    box-shadow:
        inset -8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
    border: 1px solid #888;
    border-right: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tab-list .tab-dropzone {
    transition: border 0.3s;
    flex-grow: 1;
    height: 36px;
    border: 1px solid #DDD;
    border-bottom: 1px solid #888;
    border-left: none;
    border-top-right-radius: 4px;
    box-shadow:
        inset 8px 0px 16px -8px rgba(0,0,0,0.1),
        inset -8px 0px 16px -8px rgba(0,0,0,0.1),
        inset 0px -8px 16px -8px rgba(0,0,0,0.1);
}

/* An empty tab-list (= only a dropzone). */
.tab-list .tab-dropzone:first-child {
    border-top-left-radius: 4px;
    border: 1px solid #DDD;
}

.tab-list .tab[aria-selected="true"] ~ .tab {
    box-shadow:
        inset 8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
}

.tab-list .tab:first-child {
    border-top-left-radius: 4px;
}


.tab-list .tab:nth-last-child(2) {
    border-right: 1px solid #888;
}

.tab-list .tab:last-child {
    border-top-right-radius: 4px;
}

/* Keeping the outline (the default behaviour) sucks. */
.tab-list .tab:active {
    outline: none;
}

.tab-list .tab:hover,
.tab-list .tab:focus {
    background-color: #EEE;

    /* Fix missing outline border on infixed labels. */
    z-index: 1;
}

.tab-list .tab[aria-selected="true"] {
    background: white;
    border-bottom: none;
    padding-bottom: 9px; /* Re-adding 1px from missing border. */
    box-shadow: none;
}

.tab-panel {
    border: 1px solid #888;
    border-radius: 4px;
}

/* The visual merging of tab-list and tab-panel is only based on placement. */
.tab-list + .tab-panel {
    border-top: none;
    border-radius: 0 0 4px 4px;
}
