.tab-list {
    display: flex;
}

.tab-list .tab {
    transition: background-color 0.3s;
    cursor: pointer;
    color: #222;
    font-size: 14px;
    font-family: Futura, sans-serif;
    padding: 8px 40px;
    margin: 0; /* Remove default button margin (for Safari). */
    display: inline-block;
    background: #CCC;
    box-shadow:
        inset -8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
    border: 1px solid #888;
    border-right: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tab-list .tab[aria-selected="true"] ~ .tab {
    box-shadow:
        inset 8px 0px 8px -8px rgba(0,0,0,0.4),
        inset 0px -8px 8px -8px rgba(0,0,0,0.2);
}

.tab-list .tab:first-child {
    border-radius: 4px 0 0 0;
}

.tab-list .tab:nth-last-child(2) {
    border-right: 1px solid #888;
    border-radius: 0 4px 0 0;
}

/* Keeping the outline (the default behaviour) sucks. */
.tab-list .tab:active {
    outline: none;
}

.tab-list .tab:hover,
.tab-list .tab:focus {
    background-color: #EEE;

    /* Fix missing outline border on infixed labels. */
    z-index: 1;
}

.tab-list .tab[aria-selected="true"] {
    cursor: default;
    background: white;
    border-bottom: none;
    padding-bottom: 9px; /* Re-adding 1px from missing border. */
    box-shadow: none;
}

/* The spacer element is needed to draw the remaining bottom border. */
.tab-list__spacer {
    flex-grow: 1;
    border-bottom: 1px solid #888;

    /* Hide the internal text (... which provides a box with no css). */
    color: transparent;
    user-select: none;
}

.tab-panel {
    border: 1px solid #888;
    padding: 10px;
}

/* The visual merging of tab-list and tab-panel is only based on placement. */
.tab-list + .tab-panel {
    border-top: none;
}
