:root {
    /* Defaults. */
    --background: #FFF;
    --border-radius: 3px;
    --color: #222;
    --font-size: 14px;
    --border-width: 1px;
    --border-color: #888;
    --border: 1px solid #888;
    --padding: 8px;
    --margin: 8px;
    --transition: all 0.3s;
    --filter: brightness(1);

    /* Variations. */
    --font-size-s: 14px;
    --padding-s: 4px;
    --padding-l: 16px;
    --padding-xl: 32px;
    --margin-s: 4px;
    --margin-l: 16px;
    --margin-xl: 32px;
    --inactive-filter: brightness(0.8);
    --inactive-filter-focus: brightness(0.95);
    --inactive-border: 1px solid #DDD;
    --transparent-border: 1px solid transparent;
    --heading-font-family: Futura, sans-serif;

    /* Custom. */
    --tab-background-1: #EECCEE;
    --tab-background-2: #CCDDEE;
    --tab-background-3: #CCFFCC;
    --tab-background-4: #FFFFBB;
    --tab-background-5: #FFBBBB;
    --tab-background-6: #FFDDBB;
}